{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="css/profile.css">{% endblock %}

{% block title %}Hello ConnectedController!{% endblock %}

{% block body %}
 
    <h1>test</h1>


    {{form(form) }} 

{% endblock %}
